@tailwind base;
@tailwind components;
@tailwind utilities;


hmtl {
  font-family: 'Poppins', sans-serif;
}

.primary {
  background-color: #8854C0;
}

.primary-hover:hover {
  background-color: #7f4ca5;
}